<!DOCTYPE html>
<html>
  <head>
    <title>Quizzy by mitulgautam</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css", media: "all" %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
